
.verdeMedHealth{
	background-color: #18D13D;		
}

.textoNavBar{
	font-family: 'Poppins';
	font-size: 22px;
}

.imgpos{
	position: fixed;
	left: 10px;
	top: 10px;	
}

.txtMD{
	text-align: top;
}
.imgpos2{
	position: absolute;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.fieldpos{
	position: absolute;
	top: 230px;
	left: 585px;
	margin-top: -50px;
}

#rcorners1 {
	border-radius: 25px;
	background: #18D13D;
	width: 300px;
	position: absolute;
	top: 90%;
	left: 40%;
}

#navPos {
	position: fixed;
	top: 90%;
}

.shadow{
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.boton {
	position: absolute;
	top: 80px;
	right: 100px;
	background: #18D13D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

#RegText{
	position: absolute;
	top: 17%;
	left: 630px;
	right: 50%;
	color: #18D13D;
	font-weight: 550;
	font-size: 30px;
}

#LogInText{
	position: absolute;
	top: 17%;
	left: 630px;
	right: 50%;
	color: #18D13D;
	font-weight: 550;
	font-size: 30px;
}

.login-form{
	background-color: #18D13D;
	width: 360px;
	height: 580px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.txtb{
	position: relative;	
	left: 10.5%;
}

.txtb input{
	width: 80%;
}

.passwordtxt{
	border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}