.fondo{
	background: url(../images/boy-check-up-dental-care-52527.jpg)
}

.verdeMedHealth{
	background-color: #18D13D;		
}

.textoNavBar{
	font-family: 'Poppins';
	font-size: 22px;
	color: #18D13D;
	position: absolute;
	top: 23%;
	left: 9%;
	font-size: 30px;
	font-weight: 550;
}

.imgpos{
	position: fixed;
	left: 10px;
	top: 10px;	
}

.txtMD{
	text-align: top;
}
.imgpos2{
	position: absolute;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.fieldpos{
	position: absolute;
	top: 230px;
	left: 585px;
	margin-top: -50px;
}

#rcorners1 {
	border-radius: 25px;
	background: #18D13D;
	width: 300px;
	position: absolute;
	top: 90%;
	left: 40%;
}

#navPos {
	position: fixed;
	top: 90%;
}

.shadow{
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.boton {
	position: absolute;
	top: 80px;
	right: 100px;
	background: #18D13D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

#RegText{
	position: absolute;
	top: 17%;
	left: 630px;
	right: 50%;
	color: #18D13D;
	font-weight: 550;
	font-size: 30px;
}

#LogInText{
	color: #18D13D;
	font-weight: 550;
	font-size: 30px;
	font-family: 'Poppins';
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	min-height: 100hv;
	background-image: url(../images/LoginBack.png)
	background-repeat no-repeat;
}

.login-form{
	width: 360px;
	background: #f1f1f1;
	height: 510px;
	margin-top: 0%;
	margin-bottom: 5%;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 10%);
	z-index: -1;
}

.login-form h1{
	text-align: center;
	margin-bottom: 0px;
}

.txtb{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
}

.txtb input{
	font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.txtb span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 1.5%;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
}

.txtb span::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(120deg,#18D13D,#0a5719);
	transition: .5s;
}

.focus + span::before{
	top: -5px;
}

.focus + span::after{
	width: 100%;
}

.logbtn{
	display: block;
	position: absolute;
	top: 89%;
	position: translateY(85%);
	width: 82%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#18D13D,#0a5719);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
}

.logbtn:hover{
	background-position: right;
}

.error{
	color: red;
}

.bottom-text{
	position: absolute;
	top: 85%;
	left: 25%;
	position: translateY(-85%);
	margin-top: 60px;
	text-align: center;
	font-size: 13px;
	font-family: 'Poppins';
}

.LogImage{
	position: absolute;
	left: 50%;
	top: 6%;
	transform: translate(-50%, 6%);
}

#back{
	z-index: 1;
}

h1{
	font-family: 'Poppins';
	color: #adadad;
	font-weight: 500;
	font-size: 40px;
	position: relative;
	top: 3%;
	right: 0%;
}

/* -------------------- LOG IN -------------------- */

.LogImage2{
	position: absolute;
	left: 50%;
	top: 2%;
	transform: translate(-50%, 4%);
}

.h12{
	font-family: Poppins;
	color: #adadad;
	font-weight: 500;
	font-size: 40px;
	position: relative;
	top: 3%;
	right: 0%;
}

.login-form2{
	width: 360px;
	background: #f1f1f1;
	height: 290px;
	margin-bottom: 5%;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 10%);
	z-index: -1;
}

.login-form2 h1{
	text-align: center;
	margin-bottom: 0px;
}

.txtb2{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
}

.txtb2 input{
	font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.txtb2 span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 1.5%;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
}

.txtb2 span::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(120deg,#18D13D,#0a5719);
	transition: .5s;
}

.focus2 + span::before{
	top: -5px;
}

.focus + span::after{
	width: 100%;
}

.logbtn2{
	display: block;
	position: absolute;
	top: 80%;
	position: translateY(-71%);
	width: 82%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#18D13D,#0a5719);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
}

.logbtn2:hover{
	background-position: right;
}

.bottom-text2{
	position: absolute;
	top: 77%;
	left: 23%;
	position: translateY(77%);
	margin-top: 60px;
	text-align: center;
	font-size: 13px;
	font-family: 'Poppins';
}

/* -------------------- Index2 -------------------- */

.NAVBAR{
	position: fixed;
	width: 100%;
	height: 28%;
	left: 0px;
	top: 0px;
	background: #ffffff;
	box-shadow: 0px 1px 10px #000000;
	z-index: 2;
}

hr { 
	display: block;
	margin-top: 8em;
	margin-bottom: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	border-style: inset;
	border-width: 1px;
	border-top: 1px solid #f1f1f1f1;
	z-index: -5;
}

.picpref{
	position: fixed;
	top: 2%;
	left: 1%;
	width: 100px;
	height: 100px;
}

#av{
	position: absolute;
	top: 10%;
	left: 84%;
	z-index: 2;
}

#avtxt{
	font-family: poppins;
	font-weight: 600;
	text-align: left;	
	align-items: center;
	visibility: visible;
}

#lang{
	position: absolute;
	top: 25%;
	left: 91%;
}

#avconfdisp{
	position: absolute;
	top: 2%;
	left: 990px;
	visibility: hidden;
	z-index: 1;
}

#logout{
	position: absolute;
	top: 50%;
	left: 20%;
	height: 25px;
	width: 100px;
	background: red;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#logouttxt{
	font-family: poppins;
	color: white;
	font-size: 12px;
	font-weight: 800;
	align-items: center;
	text-align: center;
	margin-top: 4px;
}

.contaner{
	background-color: #FFFFFF;
}

#location{
	position: absolute;
	top: 78%;
	left: 3%;
}

#loctext{
	position: absolute;
	top: 10%;
	left: 6%;
	text-align: center;
	font-family: poppins;
	color: #707070;
}

#textH{
	position: absolute;
	top: 80%;
	left: 29%;
	position: translate(80%, 34%);
	color: #18D13D;
	font-weight: 400;
	font-family: "poppins";
}

#textM{
	position: absolute;
	top: 80%;
	left: 39%;
	position: translate(24%, 50%);
	color: #18D13D;
	font-weight: 400;
	font-family: "poppins"
}

#textC{
	position: absolute;
	top: 80%;
	left: 47%;
	position: translate(24%, 50%);
	color: #18D13D;
	font-weight: 400;
	font-family: "poppins";
}

#textS{
	position: absolute;
	top: 80%;
	left: 57%;
	position: translate(24%, 50%);
	color: #18D13D;
	font-weight: 400;
	font-family: "poppins";
}

#textCal{
	position: absolute;
	position: absolute;
	top: 80%;
	left: 63%;
	position: translate(24%, 50%);
	color: #18D13D;
	font-weight: 400;
	font-family: "poppins";
}

#appoint{
	position: absolute;
	top: 78%;
	left: 83%;
	height: 30px;
	width: 200px;
	background: blue;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	z-index: -2;
}

#appointtxt{
	font-family: poppins;
	color: white;
	font-size: 15px;
	font-weight: 800;
	align-items: center;
	text-align: center;
	margin-top: 3px;
}

.section-one{
	background-color: #FF0000;
	float: right;
	overflow-y: auto;
	width: 15%;
	height: 100%;
}

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar{
	display: block;
	width: 10em;
	overflow: auto;
	height: 2em;
}
  
  .invisible-scrollbar::-webkit-scrollbar{
	display: none;
}
  
  /* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
  .mostly-customized-scrollbar::-webkit-scrollbar{
	width: 5px;
	height: 8px;
	background-color: #aaa; /* or add it to the track */
}
  
  /* Add a thumb */
  .mostly-customized-scrollbar::-webkit-scrollbar-thumb{
	  background: #000; 
}
  
/*  Medics  */

#rect1{
	position: absolute;
	top: 31%;
	left: 50%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#name1{
	font-family: poppins;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}

#rect2{
	position: absolute;
	top: 31%;
	left: 67%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#name2{
	font-family: poppins;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}

#rect3{
	position: absolute;
	top: 31%;
	left: 84%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#name3{
	font-family: poppins;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}

#rect4{
	position: absolute;
	top: 63%;
	left: 50%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#rect5{
	position: absolute;
	top: 63%;
	left: 67%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#rect6{
	position: absolute;
	top: 63%;
	left: 84%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#rect7{
	position: absolute;
	top: 95%;
	left: 50%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#rect8{
	position: absolute;
	top: 95%;
	left: 67%;
	width: 200px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#rect9{
	position: absolute;
	top: 95%;
	left: 84%;
	width: 200px;
	height: 200px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

/* Hospitals */

#hos1{
	position: absolute;
	top: 31%;
	left: 1%;
	width: 650px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#Hname1{
	font-family: poppins;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}

#hos2{
	position: absolute;
	top: 63%;
	left: 50%;
	width: 660px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#hos3{
	position: absolute;
	top: 95%;
	left: 50%;
	width: 660px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

/* Categories */

#Cname1{
	position: absolute;
}

#cat1{
	position: absolute;
	top: 63%;
	left: 50%;
	width: 660px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

#cat2{
	position: absolute;
	top: 31%;
	left: 50%;
	width: 660px;
	height: 175px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}