<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <div>
            <div class="NAVBAR">
				<div>
					<a href="index2"><img src="/images/logo.png" class="picpref responsive-img"></a>
					
					<hr>					
				</div>

				<p class="textoNavBar">MEDHEALTH</p>

				<div id="av" onclick="hideav()">
					<img src="images/UserAv.png" width="75%" height="75%" onclick="hidename()">
					<p id="avtxt">John Doe</p>
				</div>

					<div id="avconfdisp">
						<img src="images/avconf.png" width="80%" height="80%">
						<div>
							<div id="imgadd">
								<img src="images/add.png" height="10%" width="10%">
							</div>
							
							<p id="textconfdisp1">John Doe</p>
							
							<p id="textconfdisp2">Status:<p id="textconfdisp3">Pacient</p></p>							
							
							<p id="textconfdisp4">+1 502 326-7834</p>

							<p id="textconfdisp5">JohnnyD@gmail.com</p>

							
						</div>

						<div id="editprofile"><p id="edittxt">Edit Profile</p></div>
						

					</div>
					
				<div id="lang" onclick="hidelang()">
					<img src="images/DropDownLang.png" height="85%" width="85%">					
				</div>
				
				<div id="langmore"><img src="images/langlist.png" height="100%" width="100%"></div>				

				<div id="location">
					<img src="images/placeholder-filled-point.png" width="5%" height="5%">
					<p id="loctext">Belgrano CABA</p>
				</div>

				<div>
					<p id="textC2">CATEGORY:</p>							
				</div>

				<a href="calendar"><div id="calendar"><p id="calendartxt">Calendar</p></div></a>
				<div id="logout"><p id="logouttxt">Log out</p></div>

			</div>			

			<!---		Medics		--->

			<div id="MEDICS">											

					<div id="decoy"></div>
					<div id="box">
						<div>
							<img id="imagebox" src="images/multiply.png" width="2%" height="3%" onclick="myFunction2()">
						</div>
					</div>

				<table style="border-collapse: separate; border-spacing: 25px;">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<th>
						<div id="med1" onclick="myFunction()">
							<p id="Mname1">Dr. John Doo</p>
						</div>
					</th>
				</table>			

			<!---		End Medics		--->
				
			</div>
        </div>
    </div>
</body>
</html>