<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/logoFormWhite.png">
    <title>MedHealth</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/materialize.css">-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/MedHealth.js"></script>

    <!-- fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>

        *{
            font-family: poppins;
            
        }
      
    </style>
</head>

<body style="background-color: rgba(170, 170, 170, 0.322); overflow-x: hidden;">

        <div class="LogImage3">
                <a href="/"><img src="images/logoFormWhite.png"></a>
        </div>

        <div id="greencirc1"></div>
        <div id="greencirc2"></div>
        <div id="greencirc3"></div>
        <div id="greencirc4"></div>
        <div id="greencirc5"></div>
        <div id="greencirc6"></div>
        <div id="greencirc7"></div>

        <form action="" class="login-form" method="POST">

                <p id="titledoc2">HORARIOS</p>

                <p style="color: #afafaf;
                font-weight: 500;
                position: absolute;
                top: 29%; left: 38%;">Días hábiles:</p>

                <p style="color: #afafaf;
                font-weight: 500;
                position: absolute;
                top: 46%; left: 35%;">Horarios hábiles</p>
                

            <tr>
                <td>
                    <div style="width: 320px; height: 70px; overflow: auto; position: absolute; top: 33%; left: 15%; border-radius: 12px;">
                     <table style="background: rgb(236, 236, 236);" width="300" cellspacing="10" cellpadding="1">
                        <tr>
                         <th><input name="day" type="checkbox" value="Lunes"/>Lunes</th>                         
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Martes" />Martes</th>
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Miercoles"/>Miercoles</th>                         
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Jueves" />Jueves</th>
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Viernes"/>Viernes</th>                         
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Sabado" />Sabado</th>
                       </tr>
                       <tr>
                         <th><input name="day" type="checkbox" value="Domingo" />Domingo</th>
                       </tr>
                     </table>  
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                   <div style="width: 320px; height: 200px; overflow: auto; position: absolute; top: 50%; left: 15%; border-radius: 12px;">
                     <table style="background: rgb(236, 236, 236);" width="300" cellspacing="10" cellpadding="1">
                       <tr>
                         <th><input name="hour" type="checkbox" value="00:00"/>00:00</th>
                         <th><input name="hour" type="checkbox" value="00:30" />00:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="01:00" />01:00</th>
                         <th><input name="hour" type="checkbox" value="01:30" />01:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="02:00" />02:00</th>
                         <th><input name="hour" type="checkbox" value="02:30" />02:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="03:00" />03:00</th>
                         <th><input name="hour" type="checkbox" value="03:30" />03:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="04:00" />04:00</th>
                         <th><input name="hour" type="checkbox" value="04:30" />04:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="05:00" />05:00</th>
                         <th><input name="hour" type="checkbox" value="05:30" />05:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="06:00" />06:00</th>
                         <th><input name="hour" type="checkbox" value="06:30" />06:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="07:00" />07:00</th>
                         <th><input name="hour" type="checkbox" value="07:30" />07:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="08:00" />08:00</th>
                         <th><input name="hour" type="checkbox" value="08:30" />08:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="09:00" />09:00</th>
                         <th><input name="hour" type="checkbox" value="09:30" />09:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="10:00" />10:00</th>
                         <th><input name="hour" type="checkbox" value="10:30" />10:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="11:00" />11:00</th>
                         <th><input name="hour" type="checkbox" value="11:30" />11:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="12:00" />12:00</th>
                         <th><input name="hour" type="checkbox" value="12:30" />12:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="13:00" />13:00</th>
                         <th><input name="hour" type="checkbox" value="13:30" />13:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="14:00" />14:00</th>
                         <th><input name="hour" type="checkbox" value="14:30" />14:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="15:00" />15:00</th>
                         <th><input name="hour" type="checkbox" value="15:30" />15:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="16:00" />16:00</th>
                         <th><input name="hour" type="checkbox" value="16:30" />16:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="17:00" />17:00</th>
                         <th><input name="hour" type="checkbox" value="17:30" />17:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="18:00" />18:00</th>
                         <th><input name="hour" type="checkbox" value="18:30" />18:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="19:00" />19:00</th>
                         <th><input name="hour" type="checkbox" value="19:30" />19:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="20:00" />20:00</th>
                         <th><input name="hour" type="checkbox" value="20:30" />20:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="21:00" />21:00</th>
                         <th><input name="hour" type="checkbox" value="21:30" />21:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="22:00" />22:00</th>
                         <th><input name="hour" type="checkbox" value="22:30" />22:30</th>
                       </tr>
                       <tr>
                         <th><input name="hour" type="checkbox" value="23:00" />23:00</th>
                         <th><input name="hour" type="checkbox" value="23:30" />23:30</th>
                       </tr>
                     </table>  
                   </div>
                </td>
            </tr>
            <input type="submit" class="logbtn" value="REGISTRATE">
        <form>
            <div class="bottom-textD">
                Ya tienes una cuenta? <a href="login">LOGIN</a>
            </div>
</body>