<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <div>
            <div class="NAVBAR">
				<div>
					<a href="index2.ejs"><img src="/images/logo.png" class="picpref responsive-img"></a>
					<hr>					
				</div>

				<p class="textoNavBar">MEDHEALTH</p>

				<div class="av">
					<img src="images/UserAv.png" width="75%" height="75%">
					<p class="avtxt">John Doe</p>					
				</div>

				<div id="logout"><p id="logouttxt">Log out</p></div>

				<div id="location">
					<img src="images/placeholder-filled-point.png" width="5%" height="5%">
					<p id="loctext">Current Location</p>
				</div>

				<div>
					<p id="textH">Hospitals</p>
					<p id="textM">Medics</p>
					<p id="textC">Categories</p>
					<p id="textS">Shop</p>
				</div>

				<div id="appoint"><p id="appointtxt">Make an Appointment</p></div>

			</div>

			<div id="map"></div>

			<div id="rect1">
				<div>
					<p id="name1">Dr. James Hancock</p>
				</div>
			</div>

			<div id="rect2">
				<div>
					<p id="name2">Dr. Günther fungerschteiger</p>
				</div>
			</div>
			<div id="rect3">

			</div>

			<div id="rect4"></div>
			<div id="rect5"></div>
			<div id="rect6"></div>

			<div id="rect7"></div>
			<div id="rect8"></div>
			<div id="rect9"></div>

        </div>
    </div>
</body>
</html>