<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body style="background-color: rgba(170, 170, 170, 0.322)">

			<div id="navindex">
				<div id="imgindex"><img src="images/logo.png" width="125px" height="125px"></div>
				<div id="txtlogoindex">MEDHEALTH</div>
			</div>

			<div id="lang" onclick="hidelang()">
				<img src="images/DropDownLang.png" height="85%" width="85%">					
			</div>
				
			<div id="langmore"><img src="images/langlist.png" height="100%" width="100%"></div>

			<div>
				<p id="indextxt">Welcome to Medhealth!</p>
				<p id="indextxt2">Reach the best doctors near you with just a click.</p>
			</div>

			<div id="regiboxx"><img src="images/Regiboxx.png"></div>

			<div></div>

		<!--<div id="reglogborder"></div>
		<div id="reglogs"><div id="circlewhite"><p id="titleindex">MEDHEALTH</p></div></div>
		<a href="login"><div id="loginhref"><p id="logindex">LOG IN</p></div></a>
		<a href="register"><div id="registerhref"><p id="regindex">REGISTER</p></div></a>
		<div id="indexlogo"><img src="images/indexlogo.png"></div>
		<div id="textindex">The #1 site on Patient-Hospital communication enhancer!</div>-->
			
</body>
</html>