<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth - Login</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body style="background-color: rgba(203, 203, 203, 0.322); overflow: hidden;">
	<div>
		<div class="LogImage2">
			<a href="/"><img src="images/logoFormWhite.png"></a>
		</div>

		<div id="greencirc1"></div>
		<div id="greencirc2"></div>
		<div id="greencirc3"></div>
		<div id="greencirc4"></div>
		<div id="greencirc5"></div>
		<div id="greencirc6"></div>
		<div id="greencirc7"></div>


		<form action="" class="login-form2" method="POST">

			<h1 class="h12">LOG IN</h1>

			<div class="txtb" style="position:relative; top: 25%; margin: 20px 0;">
				<input type="email" name="email">
				<span data-placeholder="Email"></span>
			</div>

			<div class="txtb" style="position:relative; top: 30%; margin: 20px 0;">
				<input type="password" name="password">
				<span data-placeholder="Contraseña"></span>
			</div>
			
			<label class="error"> <%= error %> </label>

			<input type="submit" class="logbtn2" value="LOGIN">
			

		</form>

		<div class="bottom-text2">
			Todavia no tenes una cuenta? <a href="register">REGISTRATE</a>
		</div>

	</div>
		<script type="text/javascript">
		$(".txtb input").on("focus",function(){
			$(this).addClass("focus");
		});

		$(".txtb input").on("blur",function(){
			if($(this).val() == "")
			$(this).removeClass("focus");
		});
		</script>

</body>
</html>