<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body>
	<div>
		<div class="LogImage2">
			<a href="/"><img src="images/logoForm2.png"></a>
		</div>

		<form action="" class="login-form2" method="POST">

			<h1 class="h12">LOG IN</h1>

			<div class="txtb">
				<input type="email" name="email">
				<span data-placeholder="Email"></span>
			</div>

			<div class="txtb">
				<input type="password" name="password">
				<span data-placeholder="Password"></span>
			</div>

			<input type="submit" class="logbtn2" value="LOGIN">

			<div class="bottom-text2">
				Don't have an account yet? <a href="register">REGISTER</a>
			</div>

		</form>
	</div>
		<script type="text/javascript">
		$(".txtb input").on("focus",function(){
			$(this).addClass("focus");
		});

		$(".txtb input").on("blur",function(){
			if($(this).val() == "")
			$(this).removeClass("focus");
		});
		</script>

</body>
</html>