<!DOCTYPE html>
<head>
		<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth - Register</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body>

	<div class="LogImage">
		<img src="/images/logoForm.png">
	</div>

	<form action="" class="login-form" method="POST">

		<h1 class="h1">REGISTER</h1>
		
		<div class="txtb">
			<input type="userxtx" name="name">
			<span data-placeholder="Name"></span>
        </div>
        
        <div class="txtb">
                <input type="userxtx" name="lastName">
                <span data-placeholder="Last Name"></span>
        </div>
        
        <div class="txtb">
            <input type="email" name="email">
            <span data-placeholder="Email"></span>
        </div>

		<div class="txtb">
			<input type="password" name="password">
			<span data-placeholder="Password"></span>
        </div>

        <div class="txtb">
            <input type="password" name="rptpassword">
            <span data-placeholder="Repeat Password"></span>
		</div>
		
			<!-- dropdown -->

			<!--		<div>
						<select id="list" onchange="getSelectedValue();">
							<option value="paciente">Paciente</option>
							<option value="medico">Medico</option>
						</select>
					</div>
			-->

		<input type="submit" class="logbtn radius" value="REGISTER">

		<div class="bottom-text">
			Already have an account? <a href="login">LOGIN</a>
		</div>

	</form>

	<script type="text/javascript">
	$(".txtb input").on("focus",function(){
		$(this).addClass("focus");
	});

	$(".txtb input").on("blur",function(){
		if($(this).val() == "")
		$(this).removeClass("focus");
	});

	function getSelectedValue()
	{
		var selectedValue = document.getElementById("list").value;
		console.log(selectedValue);
	}
	</script>
</body>
</html>