<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/logoFormWhite.png">
    <title>MedHealth - Register Doctor</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/MedHealth.js"></script>
    <!-- fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body style="background-color: rgba(170, 170, 170, 0.322); overflow-x: hidden;">

    <div id="backimgdoc">

        <div class="LogImage3">
            <img src="images/logoFormWhite.png">
        </div>

        <div id="greencirc1"></div>
        <div id="greencirc2"></div>
        <div id="greencirc3"></div>
        <div id="greencirc4"></div>
        <div id="greencirc5"></div>
        <div id="greencirc6"></div>
        <div id="greencirc7"></div>

        <form action="" class="login-form" method="POST">

            <p id="titledoc">REGISTER DOCTOR</p>
            <p id="namedoc">Nombre:
                <%= name %>
            </p>

            <p id="lastnamedoc">Apellido:
                <%= lastName %>
            </p>

            <p id="emaildoc">Email:
                <%= email %>
            </p>


            <div class="txtb" style="position:relative; top: 50%; margin: 20px 0;">
                <input type="address" name="address">
                <span data-placeholder="Dirección"></span>
            </div>

            <div class="txtb" style="position:relative; top: 52.5%; margin: 20px 0;">
                <input type="phonenumber" name="phonenumber">
                <span data-placeholder="Numero de Teléfono"></span>
            </div>

            <select id="selectpicker" data-style="btn-info" name="doctorType">
				<optgroup label="Specialty">
					<option name="Ophthalmología" value="Ophthalmología">Ophthalmología</option>
					<option name="Cardiology" value="Cardiology">Cardiología</option>
					<option name="Dentistry" value="Dentistry">Odontología</option>
					<option name="Laboratory" value="Laboratory">Laboratorio</option>
					<option name="Pediatrics" value="Pediatrics">Pediatría</option>
					<option name="Radiology" value="Radiology">Radiología</option>
					<option name="Dermatology" value="Dermatology">Dermatología</option>
					<option name="Anesthesiology" value="Anesthesiology">Anesthesiología</option>
					<option name="Neurology" value="Neurology">Neurología</option>
					<option name="Nuclear Medicine" value="Nuclear Medicine">Medicina Nuclear</option>
					<option name="Gynecology" value="Gynecology">Gynecología</option>
					<option name="Urology" value="Urology">Urología</option>
					<option name="Pathology" value="Pathology">Pathología</option>
					<option name="Psychiatry" value="Psychiatry">Psychiatría</option>
					<option name="Physical Medicine" value="Physical Medicine">Medicina Física</option>
					<option name="Internal Medicine" value="Internal Medicine">Medicina Interna</option>
					<option name="Preventive Medicine" value="Preventive Medicine">Medicina Preventiva</option>
					<option name="Emergency Medicine" value="Emergency Medicine">Medicina de Emergencia</option>
					<option name="Allergy & Immunology" value="Allergy & Immunology">Alergia & Inmunología</option>
					<option name="Tomography" value="Tomography">Tomografía</option>
					<option name="Ecography" value="Ecography">Ecografía</option>
					<option name="Toxicology" value="Toxicology">Toxicología</option>
					<option name="M.R.I." value="M.R.I.">M.R.I.</option>
					<option name="Sexology" value="Sexology">Sexología</option>
				</optgroup>
			</select>

            <div id="dates"></div>
            <div id="schedule"></div>

            <input type="submit" class="logbtn radius" value="CONTINUE">

            <div class="bottom-textD">
                Ya tienes una cuenta? <a href="login">LOGIN</a>
            </div>

        </form>

        <script type="text/javascript">
            $(".txtb input").on("focus", function() {
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur", function() {
                if ($(this).val() == "")
                    $(this).removeClass("focus");
            });
        </script>
    </div>
</body>

</html>