<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth - Register Doctor</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body style="background-color: rgba(170, 170, 170, 0.322)">

	<div id="backimgdoc">

		<div class="LogImage">
			<img src="images/logoForm.png">
		</div>

		<form action="" class="login-form" method="POST">

			<p id="titledoc">REGISTER DOCTOR</p>
			<p id="namedoc">Name: <%= name %> </p>
			
			<p id="lastnamedoc">Last Name: <%= lastName %> </p>
			
			<p id="emaildoc">Email: <%= email %> </p>
			

			<div class="txtb3">
				<input type="address" name="address">
				<span data-placeholder="Address"></span>
			</div>
			
			<div class="txtb4">
					<input type="phonenumber" name="phonenumber">
					<span data-placeholder="Phone number"></span>
			</div>
			
			<select id="selectpicker" data-style="btn-info" name="doctorType">
				<optgroup label="Specialty">
					<option name="Ophthalmology" value="Ophthalmology">Ophthalmology</option>
					<option name="Cardiology" value="Cardiology">Cardiology</option>
					<option name="Dentistry" value="Dentistry">Dentistry</option>
					<option name="Laboratory" value="Laboratory">Laboratory</option>
					<option name="Pediatrics" value="Pediatrics">Pediatrics</option>
					<option name="Radiology" value="Radiology">Radiology</option>
					<option name="Dermatology" value="Dermatology">Dermatology</option>
					<option name="Anesthesiology" value="Anesthesiology">Anesthesiology</option>
					<option name="Neurology" value="Neurology">Neurology</option>
					<option name="Nuclear Medicine" value="Nuclear Medicine">Nuclear Medicine</option>
					<option name="Gynecology" value="Gynecology">Gynecology</option>
					<option name="Urology" value="Urology">Urology</option>
					<option name="Pathology" value="Pathology">Pathology</option>
					<option name="Psychiatry" value="Psychiatry">Psychiatry</option>
					<option name="Physical Medicine" value="Physical Medicine">Physical Medicine</option>
					<option name="Internal Medicine" value="Internal Medicine">Internal Medicine</option>
					<option name="Preventive Medicine" value="Preventive Medicine">Preventive Medicine</option>
					<option name="Emergency Medicine" value="Emergency Medicine">Emergency Medicine</option>
					<option name="Allergy & Immunology" value="Allergy & Immunology">Allergy & Immunology</option>
					<option name="Tomography" value="Tomography">Tomography</option>
					<option name="Ecography" value="Ecography">Ecography</option>
					<option name="Toxicology" value="Toxicology">Toxicology</option>
					<option name="M.R.I." value="M.R.I.">M.R.I.</option>
					<option name="Sexology" value="Sexology">Sexology</option>
				</optgroup>
			</select>
			
			<input type="submit" class="logbtn radius" value="CONTINUE">

			<div class="bottom-textD">
					Already have an account? <a href="login">LOGIN</a>
			</div>

		</form>

		<script type="text/javascript">
		$(".txtb input").on("focus",function(){
			$(this).addClass("focus");
		});

		$(".txtb input").on("blur",function(){
			if($(this).val() == "")
			$(this).removeClass("focus");
		});
		</script>
	</div>
</body>
</html>