<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/logoFormWhite.png">
    <title>MedHealth - Register Doctor</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/MedHealth.js"></script>
    <!-- fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body style="background-color: rgba(170, 170, 170, 0.322); overflow-x: hidden;">

    <div id="backimgdoc">

        <div class="LogImage3">
            <a href="/"><img src="images/logoFormWhite.png"></a>
        </div>

        <div id="greencirc1"></div>
        <div id="greencirc2"></div>
        <div id="greencirc3"></div>
        <div id="greencirc4"></div>
        <div id="greencirc5"></div>
        <div id="greencirc6"></div>
        <div id="greencirc7"></div>

        <form action="" class="login-form" method="POST">

            <p id="titledoc">REGISTER DOCTOR</p>
            <p id="namedoc">Nombre:
                <%= name %>
            </p>

            <p id="lastnamedoc">Apellido:
                <%= lastName %>
            </p>

            <p id="emaildoc">Email:
                <%= email %>
            </p>


            <div class="txtb" style="position:relative; top: 50%; margin: 20px 0;">
                <input type="address" name="address">
                <span data-placeholder="Dirección"></span>
            </div>

            <div class="txtb" style="position:relative; top: 52.5%; margin: 20px 0;">
                <input type="phonenumber" name="phonenumber">
                <span data-placeholder="Numero de Teléfono"></span>
            </div>

            <select id="selectpicker" data-style="btn-info" name="doctorType">
				<optgroup label="Specialty">
					<option name="Oftalmología" value="Oftalmología">Oftalmología</option>
					<option name="Cardiología" value="Cardiología">Cardiología</option>
					<option name="Odontología" value="Odontología">Odontología</option>
					<option name="Laboratorio" value="Laboratorio">Laboratorio</option>
					<option name="Pediatría" value="Pediatría">Pediatría</option>
					<option name="Radiología" value="Radiología">Radiología</option>
					<option name="Dermatología" value="Dermatología">Dermatología</option>
					<option name="Anesthesiología" value="Anesthesiología">Anesthesiología</option>
					<option name="Neurología" value="Neurología">Neurología</option>
					<option name="Medicina Nuclear" value="Medicina Nuclear">Medicina Nuclear</option>
					<option name="Gynecología" value="Gynecología">Gynecología</option>
					<option name="Urología" value="Urología">Urología</option>
					<option name="Pathología" value="Pathología">Pathología</option>
					<option name="Psychiatría" value="Psychiatría">Psychiatría</option>
					<option name="Medicina Física" value="Medicina Física">Medicina Física</option>
					<option name="Medicina Interna" value="Medicina Interna">Medicina Interna</option>
					<option name="Medicina Preventiva" value="Medicina Preventiva">Medicina Preventiva</option>
					<option name="Medicina de Emergencia" value="Medicina de Emergencia">Medicina de Emergencia</option>
					<option name="Alergia & Inmunología" value="Alergia & Inmunología">Alergia & Inmunología</option>
					<option name="Tomografía" value="Tomografía">Tomografía</option>
					<option name="Ecografía" value="Ecografía">Ecografía</option>
					<option name="Toxicología" value="Toxicología">Toxicología</option>
					<option name="M.R.I." value="M.R.I.">M.R.I.</option>
					<option name="Sexología" value="Sexología">Sexología</option>
				</optgroup>
			</select>

            <div id="dates"></div>
            <div id="schedule"></div>

            <input type="submit" class="logbtn radius" value="CONTINUAR">

            <div class="bottom-textD">
                Ya tienes una cuenta? <a href="login">LOGIN</a>
            </div>

        </form>

        <script type="text/javascript">
            $(".txtb input").on("focus", function() {
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur", function() {
                if ($(this).val() == "")
                    $(this).removeClass("focus");
            });
        </script>
    </div>
</body>

</html>